.login-form {
  width: 500px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  background-color: #1890ff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: aliceblue;
}
