<nz-modal
  [nzVisible]="isVisible"
  nzTitle="Thông tin người dùng"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkDisabled]="userForms.invalid"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="userForms" class="login-form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Địa chỉ email không hợp lệ!">
          <nz-input-group nzPrefixIcon="mail">
            <input
              type="email"
              nz-input
              formControlName="email"
              placeholder="Email"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="getErrorMsg('first_name')">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="first_name"
              placeholder="Họ"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="getErrorMsg('last_name')">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="last_name"
              placeholder="Tên"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="aliwangwang">
            <input
              type="text"
              nz-input
              formControlName="avatar"
              placeholder="Avatar"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
